.button_container{
    /* display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between; */
}

.number_container {
    /* display: flex;
    flex-direction: column; */
    }


.nonzero_container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    background-color: blueviolet; */
    }
