.button_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.number_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }


.nonzero {
    /*
    display: flex;
    flex-wrap: wrap;
    */
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    }


    .zero{
        display: grid;
        grid-gap: 0em;
    }

.operator_container{
    display: flex;
    flex-direction: column;
}